
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800');

// Import the required css from node_modules
@import '~bootstrap/scss/bootstrap';
//@import '~datatables/media/css/jquery.dataTables.min.css';
@import '~font-awesome/scss/font-awesome.scss';

@import 'style.scss';
@import 'beagle.min.css';
@import 'components.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
// @import url('https://cdn.quilljs.com/1.0.0/quill.snow.css');

.form-group small{
    display: block;
    padding: 0px 15px 10px 15px;
}

.req{
    color: $danger !important;
}

.notRedeemed{
    color: #aaa !important;
}

.redeemed{
    color: $success !important;
}

.profile-logo{
    width: 150px;
    border: 10px solid #fff;
    position: relative;
    top: 30px;
    float: left;
    @include shadow;
}

.datatable-rewards h3 {
    white-space:nowrap;
}
.datatable-rewards h3 small{
    font-size: 6px;
    display: inline;
    white-space:nowrap;
    position: relative;
    bottom: 6px;
    padding: 0px 2px;
}

.navbar-secondary a.nav-link {
    line-height: 74px;
    margin-right: 15px;
    color: map-get($colors, secondary) !important;
}

.bg-ltgrey{
    background-color: map-get($colors, light) !important;
    // color: map-get($colors, muted) !important;
}
.bg-dkgrey{
    background-color: map-get($colors, dkgrey) !important;
    color: map-get($colors, whitesmoke) !important;
}

.landing h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.landing p{
    font-size: 16px;
    color: map-get($colors, muted) !important;
}

.landing h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.landing p.smaller{
    font-size: 13px !important;
    line-height: 15px !important;
}

.editable{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    padding: 10px 15px;
    font-weight: normal !important;
}

.editable p{
    font-weight: normal !important;
}

.nav-item{
    list-style: none !important;
    padding-right: 20px;
}

#navbarCollapse li{
    list-style: none !important;
}

