
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800');

// Import the required css from node_modules
@import '~bootstrap/scss/bootstrap';
//@import '~datatables/media/css/jquery.dataTables.min.css';
@import '~font-awesome/scss/font-awesome.scss';

@import 'style.scss';
@import 'components.scss';


.form-group small{
    display: block;
    padding: 0px 15px 10px 15px;
}

.req{
    color: $danger !important;
}

.profile-logo{
    width: 150px;
    border: 10px solid #fff;
    position: relative;
    top: 30px;
    float: left;
    @include shadow;
}

.datatable-rewards h3 {
    white-space:nowrap;
}
.datatable-rewards h3 small{
    font-size: 6px;
    display: inline;
    white-space:nowrap;
    position: relative;
    bottom: 6px;
    padding: 0px 2px;
}

.navbar-secondary a.nav-link {
    line-height: 74px;
    margin-right: 15px;
    color: map-get($colors, secondary) !important;
}
